// Variables
// --------------------------

$fa-font-path:         "/assets/webfonts/fa-reduced" !default;
$fa-font-size-base:    16px !default;
$fa-font-display:      block !default;
$fa-css-prefix:        fa !default;
$fa-version:           "5.13.0" !default;
$fa-border-color:      #eee !default;
$fa-inverse:           #fff !default;
$fa-li-width:          2em !default;
$fa-fw-width:          (20em / 16);
$fa-primary-opacity:   1 !default;
$fa-secondary-opacity: .4 !default;

// Convenience function used to set content property
@function fa-content($fa-var) {
  @return unquote("\"#{ $fa-var }\"");
}

$fa-var-creative-commons: \f25e;
$fa-var-creative-commons-by: \f4e7;
$fa-var-creative-commons-sa: \f4ef;
$fa-var-instagram: \f16d;
$fa-var-linkedin-in: \f0e1;
$fa-var-chevron-left: \f053;
$fa-var-chevron-right: \f054;