@import 'fonts';

a {
    text-decoration: none;
    color: #75783c;
}

pre {
    font-family: monospace;
    font-size: 11pt;
    line-height: 1.2;
    background: #0000001c;
    border-radius: 3px;
    padding: 10px;
}

@media (max-width: 576px) {
    main {
        font-size: 12pt !important;
    }

    .title {
        font-size: 24pt !important;
        padding-top: 15px;
    }
}

hr {
    border: none;
    height: 20px;
    width: 100%;
    background-image: url(/assets/sectionbreak.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: initial;
    font-family: $font-sans-serif;
    color: black;
    margin-bottom: 8px;
    margin-top: 0;
    line-height: initial;
}

p {
    margin-top: 5px;
}

main {
    font-size: 14pt;
    line-height: 1.73;
    color: rgb(70, 70, 70);
    font-family: $font-body;
}

.article-info {
    font-size: 10pt;
    color: grey;
    font-family: $font-sans-serif;
}