/* Content formatting */
hr {
    border: none;
    height: 20px;
    background-image: url(/assets/sectionbreak.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}