<!doctype html>
<html itemscope itemtype="http://schema.org/Article">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>New Story</title>

        <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
        
        <style>
            .container {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0px;
                left: 0px;
                background: white;
                font-family: 'Lora', Georgia, serif;
            }

            header {
                bottom: 25px;
                width: 100%;
                color: white;
                position: absolute;
            }

            .header {
                top: 0px;
                left: 0px;
                width: 100%;
                height: 60%;
                position: relative;
            }


            .title {
                font-size: 28pt;
                margin-bottom: 8px;
                margin-top: 0;
                line-height: initial;
                font-family: Georgia, sans-serif;
                padding-left: 20px;
                padding-right: 20px;
                max-width: 1024px;
                margin-left: auto;
                margin-right: auto;
            }

            .menu {
                height: 40px;
                padding-top: 15px;
                margin-left: auto;
                margin-right: auto;
                max-width: 600px;
                text-align: center;
            }

            .menu-item {
                min-width: 40px;
                padding-left: 10px;
                padding-right: 10px;
                display: inline;
                font-size: 10pt;
                font-family: 'Raleway', sans-serif;
            }

            a {
                text-decoration: none;
                color: rgb(45, 45, 45);
            }

            #logo {
                display: block;
                width: 40px;
                margin-top: 55px;
                left: 140px;
                position: absolute;
            }

            .article-image {
                width: 100%;
                margin-top: 10px;
                margin-bottom: 20px;
            }

            .article-info {
                color: grey;
            }

            .profile {
                display: block;
                font-size: 10pt;
            }

            .profile-pic {
                display: block;
                width: 40px;
                height: 40px;
                background-color: #3b5249;
                background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('images/profile.jpg');
                border-radius:20px;
                background-size: cover;
                background-position: center;
                background-repeat:no-repeat;
                float: left;
                margin-right: 10px;
            }
        </style>

    </head>
    <body>
        <div class="container">
            <div class="header">
                <header>
                </header>
            </div>
            <main>
                <article contenteditable="true">

                </article>
                <div class="article-info footer-info">
                </div>
            </main>
        </div>

        <style>

            p {
                padding-bottom: 20px;
            }

            main {
                padding-top: 60px;
                padding-left: 20px;
                padding-right: 20px;
                max-width: 740px;
                margin-left: auto;
                margin-right: auto;
                font-size: 14pt;
                line-height: 1.73;
                color: rgb(70, 70, 70);
            }

            .footer {
            width: 100%;
            bottom: 0px;
            border-top: 1px solid rgb(230, 230, 230);
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 10pt;
            }

            .footer-info {
                margin-bottom: 10px;
                width: 200px;
                border-top: 1px solid lightgray;
                padding-top: 10px;
                font-size: 10pt;
            }

            @media (max-width: 500px) {
                main {
                    font-size: 12pt;
                }

                h1.title {
                    font-size: 16pt;
                }
            }
        </style>
    </body>
</html>